
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Crucible Crash Course</title>
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/favicon-32x32Studio.png" />
</head>
<body>
    <header>
        <div class="row">
            <div class="column">
                <a href="https://www.facebook.com/learnwithus" target="_blank"><img src="~/Img/Images/facebook.png" width="40" /></a>
            </div>
            <div class="column">
                <a href="https://twitter.com/weteachstuff?lang=en" target="_blank"><img src="~/Img/Images/twitter.png" width="40" /></a>
            </div>
            <div class="column">
                <a href="https://www.linkedin.com/learnwithus" target="_blank"><img src="~/Img/Images/linkedin.png" width="40" /></a>
            </div>
        </div>
        <sidebar>
            <a href="@Url.Action("Index", "Studio")"><img src="~/Img/Images/830294403417e58eed5e566210ed8990.jpg" id="logo" /></a>
            <a href="@Url.Action("Index", "Home")"><img src="~/Img/LogoMakr-5RyQkg.png" id="logo" /></a>
        </sidebar>
        <article>
            <h1> Crucible Crash Course</h1>
            <p id="slogan"> Improving today at the cost of tomorrow. </p>
        </article>

    </header>
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("Index", "Studio")" class="selected">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Classes", "Studio")">Browse Courses</a>
            </li>
            <li>
                <a href="@Url.Action("Team", "Studio")">Meet the Team</a>
            </li>
            <li>
                <a href="@Url.Action("Contact", "Studio")">Contact Us</a>
            </li>
        </ul>
    </nav>
    <article class="top">
        <h1 id="title"> Welcome! </h1>
        <p> Here you can find out more about our program and it's purpose. </p>
    </article>
    <main>
        <article>
            <h2>Who We Are </h2>
            <sidebar class="left">
                <img class="flairleft" src="~/Img/Images/stancebg.jpg" width="500" />
            </sidebar>
            <section class="textpicright">
                <h3 class="topic">Our Mission </h3>
                <p>
                    Here at the CCC, we don't believe in luck. Only sweat and unbalanced gameplay. It's our sworn duty to give you the knowledge to abuse these tools to your benefit. Dignity not included.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis et elit porttitor vestibulum non nec lectus. Nam quis auctor est. Proin pretium justo non neque rhoncus tempor. Nam nec augue nulla. Nunc venenatis mi ut magna bibendum, sit amet eleifend purus malesuada. Proin scelerisque, mi non mattis porttitor, magna ligula luctus tellus, vel consequat neque enim at nisl. Etiam et enim eget velit egestas fermentum. Duis tincidunt tortor sit amet auctor euismod. Vivamus odio neque, sagittis quis aliquet vel, facilisis vel odio. Cras tempor eleifend porttitor.
                </p>
                <p>
                    Aenean justo elit, pretium sit amet dapibus et, mattis non augue. Nam pellentesque aliquam justo eu malesuada. Nullam at diam odio. Integer convallis, sapien eu varius dictum, sem odio dignissim urna, vel rhoncus enim sapien id tortor. Aenean consequat mattis mi eget posuere. Integer cursus convallis scelerisque. Proin rhoncus augue nec libero sodales, tincidunt eleifend elit luctus.
                </p>
            </section>
        </article>
        <article>
            <sidebar class="right">
                <img class="flairright" src="~/Img/Images/singletitan.jpg" width="500" />
            </sidebar>
            <section class="textpicleft">
                <h3 class="topic">Why Choose Us?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices quam non augue pellentesque commodo. Donec a vehicula libero. Ut commodo libero sit amet orci semper ultrices. Nunc risus nisl, blandit sed varius id, cursus sit amet nibh. Curabitur nec volutpat lacus. Curabitur at iaculis dolor. Pellentesque at mauris eu arcu molestie dapibus. Suspendisse feugiat at neque at sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis pretium mi ac efficitur. Praesent lobortis metus mi, at commodo nulla placerat at. Nunc commodo ac odio ac imperdiet. Fusce tempor ligula et felis molestie ullamcorper ut in ipsum. Suspendisse porta euismod porttitor. Nulla facilisi.
                </p>
                <p>
                    Duis pellentesque magna odio, commodo ultricies risus sodales id. Donec id nibh maximus, consectetur lacus sed, lacinia velit. Fusce eu malesuada nunc. Morbi sed eleifend nunc. Proin pretium leo neque, sit amet vestibulum augue rutrum at. Nunc nisl turpis, volutpat sed porta et, pretium mollis lorem. Integer vel imperdiet nunc. In hac habitasse platea dictumst. Donec eleifend rutrum est non sodales. Phasellus vestibulum, lacus vitae finibus ornare, lacus magna interdum nisi, eu egestas dolor neque at turpis. Sed id sapien arcu.
                </p>
            </section>
        </article>
        <!--
        <article>
            <sidebar class="left">
                <img class="flairleft" src="Images/stancebg.jpg" width="500" />
            </sidebar>
            <section class="textpicright">
                <h3 class="topic">Our Promise </h3>
                <p>
                    Here at the CCC, we don't believe in luck. Only sweat and unbalanced gameplay. It's our sworn duty to give you the knowledge to abuse these tools to your benefit. Dignity not included.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis et elit porttitor vestibulum non nec lectus. Nam quis auctor est. Proin pretium justo non neque rhoncus tempor. Nam nec augue nulla. Nunc venenatis mi ut magna bibendum, sit amet eleifend purus malesuada. Proin scelerisque, mi non mattis porttitor, magna ligula luctus tellus, vel consequat neque enim at nisl. Etiam et enim eget velit egestas fermentum. Duis tincidunt tortor sit amet auctor euismod. Vivamus odio neque, sagittis quis aliquet vel, facilisis vel odio. Cras tempor eleifend porttitor.
                </p>
                <p>
                    Aenean justo elit, pretium sit amet dapibus et, mattis non augue. Nam pellentesque aliquam justo eu malesuada. Nullam at diam odio. Integer convallis, sapien eu varius dictum, sem odio dignissim urna, vel rhoncus enim sapien id tortor. Aenean consequat mattis mi eget posuere. Integer cursus convallis scelerisque. Proin rhoncus augue nec libero sodales, tincidunt eleifend elit luctus.
                </p>
            </section>
        </article>-->

    </main>
    <footer>

        <section>
            &copy; 2021 Ryan Palmer
            <div class="row">
                <div class="column">
                    <a href="https://www.facebook.com/learnwithus" target="_blank"><img src="~/Img/Images/facebook.png" width="40" /></a>
                </div>
                <div class="column">
                    <a href="https://twitter.com/weteachstuff?lang=en" target="_blank"><img src="~/Img/Images/twitter.png" width="40" /></a>
                </div>
                <div class="column">
                    <a href="https://www.linkedin.com/learnwithus" target="_blank"><img src="~/Img/Images/linkedin.png" width="40" /></a>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>
